<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="resources.ListenerTest"/>
		<listener class-name="resources.ExtentReporterNG" />
	</listeners>

	<test thread-count="5" name="Test">
		<groups>
			<run>
				<include name="positive" />
			</run>
		</groups>

		<classes>
			<class name="Assignment1.Case1_Register_Test" />
			<class name="Assignment1.Case2_Alerts_Test" />
			<class name="Assignment1.Case3_Windows_Test" />
			<class name="Assignment1.Case4_Frames_Test" />
			<class name="Assignment1.Case5_DatePicker_test" />
			<class name="Assignment1.Case6_Selectable_Test" />
			<class name="Assignment1.Case7_Gillette_Test" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
